In [43]:
import pandas as pd
import numpy as np
import pandas as pd

In [44]:
# read csv of cities data 
suburbs_path = "../Raw Data/melbourne_suburbs.csv"
postcode_path = "../Raw Data/Aust Postcode Location/Australian_Post_Codes_Lat_Lon.csv"

In [45]:
suburbnames = pd.read_csv(suburbs_path)
postcode = pd.read_csv(postcode_path)

In [46]:
#Dataframes
suburbnamesDF = pd.DataFrame(suburbnames)
suburbnamesDF['suburb'] = suburbnamesDF['suburb'].str.lower()
suburbnamesDF

                 suburb
0            abbotsford
1            aberfeldie
2          airport west
3             albanvale
4           albert park
..                  ...
317        williamstown
318  williamstown north
319             windsor
320           yallambie
321          yarraville

[322 rows x 1 columns]

In [47]:
postcodeDF = pd.DataFrame(postcode)
postcodeDF['suburb'] = postcodeDF['suburb'].str.lower()
postcodeDF

,postcode,suburb,state,dc,type,lat,lon
0,200,australian national university,ACT,AUSTRALIAN NATIONAL UNI LPO,Post Office Boxes,-35.277272,149.117136
1,221,barton,ACT,NaN,LVR,-35.201372,149.095065
2,800,darwin,NT,DARWIN DELIVERY CENTRE,Delivery Area,-12.801028,130.955789
3,801,darwin,NT,DARWIN DELIVERY CENTRE,Post Office Boxes,-12.801028,130.955789
4,804,parap,NT,PARAP,Post Office Boxes,-12.432181,130.843310
...,...,...,...,...,...,...,...
16075,9010,brisbane,QLD,CITY DC - BRISBANE,LVR,-27.603479,152.823141
16076,9013,brisbane,QLD,CITY DC - BRISBANE,LVR,-27.603479,152.823141
16077,9015,brisbane,QLD,CITY DC - BRISBANE,LVR,-27.603479,152.823141
16078,9020,brisbane,QLD,CITY DC - BRISBANE,LVR,-27.603479,152.823141
16079,0,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
suburbpostcodemerge = pd.merge(suburbnamesDF, postcodeDF, on= "suburb",  how ="left")
suburbpostcodemerge

,suburb,postcode,state,dc,type,lat,lon
0,abbotsford,2046.0,NSW,LIDCOMBE DELIVERY CENTRE,Delivery Area,-33.852469,151.129453
1,abbotsford,3067.0,VIC,FITZROY DC,Delivery Area,-37.801781,144.998752
2,abbotsford,4670.0,QLD,BUNDABERG DC,Delivery Area,-24.843687,152.024909
3,aberfeldie,3040.0,VIC,MOONEE PONDS DC,Delivery Area,-37.756690,144.896259
4,airport west,3042.0,VIC,NIDDRIE DC,Delivery Area,-37.711698,144.887037
...,...,...,...,...,...,...,...
480,windsor,3181.0,VIC,RICHMOND DC,Delivery Area,-37.856159,144.992200
481,windsor,4030.0,QLD,STAFFORD DC,Delivery Area,-27.435277,153.031507
482,windsor,5501.0,SA,TWO WELLS LPO,Delivery Area,-34.421671,138.330791
483,yallambie,3085.0,VIC,HEIDELBERG WEST DEL CENTRE,Delivery Area,-37.727482,145.102309
484,yarraville,3013.0,VIC,WEST FOOTSCRAY DC,Delivery Area,-37.816178,144.889774

In [49]:
# Get names of indexes for which column state doesn not equal VIC
indexNames = suburbpostcodemerge[ suburbpostcodemerge['state'] != "VIC" ].index

In [50]:
# Delete these row indexes from dataFrame
suburbpostcodemerge.drop(indexNames , inplace=True)

In [51]:
suburbpostcodemerge

,suburb,postcode,state,dc,type,lat,lon
1,abbotsford,3067.0,VIC,FITZROY DC,Delivery Area,-37.801781,144.998752
3,aberfeldie,3040.0,VIC,MOONEE PONDS DC,Delivery Area,-37.756690,144.896259
4,airport west,3042.0,VIC,NIDDRIE DC,Delivery Area,-37.711698,144.887037
5,albanvale,3021.0,VIC,ST ALBANS DC,Delivery Area,-37.745934,144.770027
6,albert park,3206.0,VIC,SOUTH MELBOURNE DC,Delivery Area,-37.840705,144.955710
...,...,...,...,...,...,...,...
475,williamstown,3016.0,VIC,NEWPORT DC,Delivery Area,-37.856902,144.897698
478,williamstown north,3016.0,VIC,NEWPORT DC,Delivery Area,-37.857681,144.887041
480,windsor,3181.0,VIC,RICHMOND DC,Delivery Area,-37.856159,144.992200
483,yallambie,3085.0,VIC,HEIDELBERG WEST DEL CENTRE,Delivery Area,-37.727482,145.102309
484,yarraville,3013.0,VIC,WEST FOOTSCRAY DC,Delivery Area,-37.816178,144.889774

In [52]:
suburbpostcodemerge['postcode'].dtypes

dtype('float64')

In [53]:
suburbpostcodemerge.postcode = suburbpostcodemerge.postcode.astype(int)

In [55]:
suburbpostcodemerge['postcode'].dtypes

dtype('int64')

In [56]:
suburbpostcodemerge

,suburb,postcode,state,dc,type,lat,lon
1,abbotsford,3067,VIC,FITZROY DC,Delivery Area,-37.801781,144.998752
3,aberfeldie,3040,VIC,MOONEE PONDS DC,Delivery Area,-37.756690,144.896259
4,airport west,3042,VIC,NIDDRIE DC,Delivery Area,-37.711698,144.887037
5,albanvale,3021,VIC,ST ALBANS DC,Delivery Area,-37.745934,144.770027
6,albert park,3206,VIC,SOUTH MELBOURNE DC,Delivery Area,-37.840705,144.955710
...,...,...,...,...,...,...,...
475,williamstown,3016,VIC,NEWPORT DC,Delivery Area,-37.856902,144.897698
478,williamstown north,3016,VIC,NEWPORT DC,Delivery Area,-37.857681,144.887041
480,windsor,3181,VIC,RICHMOND DC,Delivery Area,-37.856159,144.992200
483,yallambie,3085,VIC,HEIDELBERG WEST DEL CENTRE,Delivery Area,-37.727482,145.102309
484,yarraville,3013,VIC,WEST FOOTSCRAY DC,Delivery Area,-37.816178,144.889774

In [58]:
suburbpostcodemerge.to_csv('../Raw Data/melbourbe_suburbs_postcode.csv', index=False)